<div class="vidquiz_block">

    <p class="vq_header">{{self.vq_header}}</p>

    <div class="video_area">

        <!-- Video player affected by Popcorn.js -->
        <!-- code used with direct links to videos - no longer used, but still functional
        <video class="vid_lecture" height={{self.height}} width={{self.width}} controls>
            <source class="vidsrc" src="{{self.href}}">
        </video>
        -->

        <!-- Space that will store YouTube video -->
        <!--<div class="vid_lecture" style="width: {{self.width}}px; height: {{self.height}}px;" ></div>-->
        <!--<div class="vid_lecture" style="width: 640px; height: 480px"></div>-->
        <div class="vid_lecture"></div>
        <iframe width="640" height="480" src="{{self.vid_url}}" frameborder="0" allowfullscreen></iframe>

        <!-- Disabled this; will remind students via edX, not this block
        <p class="html5link">
            <a onclick="window.open('https://www.youtube.com/html5')">Not using Google Chrome? Click here and press "Request the HTML5 player" in the following page.</a>
        </p>
        -->

    </div>

    <!-- Question form to be displayed for each question -->
    <div class="quiz_area" hidden>

        <p class="question"></p>

        <form class="student_input" method="POST">
            <div class="student_answer"></div>
        </form>

        <p class="feedback_area">
            <img class="answer_icon" src="">
            <span class="answer_feedback"></span>
        </p>

        <div class="button_area">
            <input class="btn_submit" type="button" value="Submit">
            <input class="btn_next" type="button" value="Skip">
            <input class="btn_explain" type="button" value="Explanation">
        </div>

        <!-- No longer used
        <p class="tries"></p>
         -->

    </div>

    <div class="scoreboard" hidden>
        <p>Your result</p>
        <p class="result_feedback"></p>
        <input class="btn_replay" type="button" value="Replay?">
    </div>

    <p class="novid" hidden>There is no video to display.</p>
    <p class="noquiz" hidden>There is no quiz to display.</p>

</div>
