<div class="vidquiz_block">

    <div class="studio">

        <h1>VideoQuiz</h1>

        <div>

            <form class="vidquiz_parameters">

                <p>Title</p><input type="text" class="vq_header_studio">
                <p>YouTube Video URL</p><input type="text" class="vid_url">
                <p>Video Width</p><input type="text" class="width">
                <p>Video Height</p><input type="text" class="height">
                <p>Quiz details</p><textarea class="quiz_content" rows="10" cols="130"></textarea>
                <p>
                    trigger time ~ question kind (text, radio, checkbox) ~ question ~ optionA|optionB|optionC ~ answerA|answerB ~ explanation
                </p>

            </form>


        </div>

    </div>

</div>
