<div class="vidquiz_block">

    <div class="vq_header"><span>{{self.vq_header}}</span></div>

    <br>

    <div class="video_area">

        <!-- Video player affected by Popcorn.js -->
        <!-- code used with direct links to videos - no longer used, but still functional
        <video class="vid_lecture" height={{self.height}} width={{self.width}} controls>
            <source class="vidsrc" src="{{self.href}}">
        </video>
        -->

        <!-- Space that will store YouTube video -->
        <!--<div class="vid_lecture" style="width: {{self.width}}; height: {{self.height}}px;" ></div>-->
        <div class="vid_lecture"></div>

    </div>

    <!-- Question form to be displayed for each question -->
    <div class="quiz_area" hidden>

        <div class="question_area">

            <p class="question_number"></p>
            <p class="question"></p>

            <div class="student_answer"></div>

            <p class="feedback_area">
                <img class="answer_icon" src="">
                <span class="answer_feedback"></span>
            </p>


            <div class="explanation" title="Explanation"></div>

        </div>

        <div class="result_area" hidden>
            <p class="result_title">Your result</p>
            <p class="result_feedback"></p>
        </div>

        <div class="control_area">
            <input class="btn_submit" type="button" value="Submit">
            <input class="btn_next" type="button" value="Skip">
            <input class="btn_explain" type="button" value="Explanation">
            <input class="btn_replay" type="button" value="Restart" hidden>
        </div>

    </div>

    <div class="novid" hidden>There is no video to display.</div>

</div>
