<div class="vidquiz_block">

    <p class="vid_title">{{self.title}}</p>

    <div class="video_area">

        <!-- Video player affected by Popcorn.js -->

        <!-- code used with direct links to videos - no longer used, but still functional
        <video class="vid_lecture" height={{self.height}} width={{self.width}} controls>
            <source class="vidsrc" src="{{self.href}}">
        </video>

        -->

        <!-- Space that will store YouTube video -->
        <div class="vid_lecture" style="width: {{self.width}}px; height: {{self.height}}px;" ></div>

    </div>

    <!-- Question form to be displayed for each question -->
    <div class="quiz_space" hidden>

        <p class="question"></p>

        <form class="student_input" method="POST">
            <div class="student_answer"></div>
        </form>

        <p class="feedback_area">
            <img class="answer_icon" src="">
            <span class="answer_feedback"></span>
        </p>

        <div class="button_area">
            <input class="btn_submit" type="button" value="Submit">
            <input class="btn_next" type="button" value="Skip">
            <input class="btn_explain" type="button" value="Explanation">
        </div>

        <p class="tries"></p>

    </div>

    <p class="html5link">
        <a onclick="window.open('https://www.youtube.com/html5')">Click here to ensure you are using YouTube's HTML5 Player</a>
    </p>

    <p class="novid" hidden>There is no video to display.</p>
    <p class="noquiz" hidden>There is no quiz to display.</p>

</div>
