/* CSS for VideoQuiz */

/* Main XBlock */
.vidquiz_block {
  font-family: 'Arial', 'Helvetica', sans-serif;
  background: #F0F0F0;
  padding: 15px;
  width: 790px;
  height: 600px;
}

/* Window displayed when there is no video to load */
.novid {
    color: #8d2e2b;
    text-align: center;
    margin-top: -320px;
    font-weight: bold;
    font-size: xx-large;
}

/* Title bar */
.vq_header {
    font-weight: bold;
    font-size: xx-large;
    color: #fff5ee;
    text-align: center;
    background-color: #8d2e2b;
    margin-top: -15px;
    margin-left: -15px;
    width: 820px;
    height: 50px;
    border-style: solid;
    border-width: 1px;
}


.vq_header span {
    color: #fff5ee;
}

/* Video area */
.vid_lecture {
    display: block;
    margin: 0 auto;
    width: 720px;
    height: 540px;
}

/* Block containing questions, student input, results */
.quiz_area {
    width: 720px;
    height: 540px;
    margin: auto;
    text-align: left;
    position:relative;
}

/* These are related to question output */
.question_number {
    font-size: 18px;
    font-weight: bold;
}


/* Text-only answer */
.answer_simple {
    width: 705px;
    margin-left: 3px;
}

/* Radio or checkbox answer */
.answer_multi {
    
}

.answer_multi_list li {
    list-style-type: none;
}

/* Correct or incorrect notification area */
.feedback_area {
    padding-left: 15px;
}

/* Deprecated - Number of tries left
.tries {

}
*/

/* Result window displayed at the end of the video */
.result_area {
    width: 720px;
    height: 540px;
    margin: auto;
    text-align: left;
}

.result_title {
    font-size: 18px;
    font-weight: bold;
}

/* Buttons used throughout the module */
.control_area {
    width: 720px;
    height: 42px;
    margin: auto;
    text-align: left;
    position: absolute;
    bottom: 0;
}

.control_area input {
    width: 128px;
    margin-right: -5px;
}

/* JQuery dialog used for Explanation */
.explanation-window {
    border: 1px Solid;
    background: #eeeeee 0% 50% no-repeat; 
    min-height: 200px;
    min-width: 600px;
    z-index: 1000;
}

.explanation-window .ui-widget-header { 
    background: #8d2e2b 0% 50% no-repeat;
    color: #ffffff;
    font-size: 16px;
    font-family: 'Arial', 'Helvetica', sans-serif;
    border: solid black 1px;
}

.explanation-window #ui-id-2 {
    color: #fff5ee;
}

.explanation-window .ui-widget-content {
    border-top: 0px;
    font-family: 'Arial', 'Helvetica', sans-serif;
    overflow: auto;
}

/* disabling bugged X icon for closing */
.ui-button-icon-primary {
    visibility: hidden;
}