/* CSS for VideoQuiz */

.vidquiz_block {
  font-family: 'Arial', 'Helvetica', sans-serif;
  background: #F0F0F0;
  /*text-align: center;*/
  padding: 15px;
  min-height: 320px;
}

.studio {
    text-align: center;
}
