
/* CSS for VideoQuiz */

/* Main XBlock */
.vidquiz_block {
  font-family: 'Arial', 'Helvetica', sans-serif;
  background: #F0F0F0;
  padding: 15px;
  width: 790px;
  height: 670px;
}

/* Title bar */
.vq_header {
    font-weight: bold;
    font-size: x-large;
    color: #1aa1e0;
    text-align: center;
    background-color: #C0C0C0;
    margin-top: -15px;
    margin-left: -15px;
    width: 818px;
    height: 30px;
    border-style: solid;
    border-width: 1px;
}


.vq_header span {
    vertical-align: middle;
}

/* Video area */
.vid_lecture {
    display: block;
    margin: 0 auto;
    width: 720px;
    height: 540px;
}

/* Block containing questions, student input, results */
.quiz_area {
    width: 720px;
    height: 540px;
    margin: auto;
    text-align: left;
    position:relative;
    
    border-style: dashed;
    border-width: 1px;
}

/* These are related to question output */
.question_number {
    font-size: 18px;
    font-weight: bold;
}


/* Text-only answer */
.answer_simple {
    width: 705px;
    margin-left: 3px;
}

/* Radio or checkbox answer */
.answer_multi {

}

.answer_multi_list {
    list-style: none;
}

/* Correct or incorrect notification area */
.feedback_area {

}

/* Deprecated - Number of tries left
.tries {

}
*/

/* Result window displayed at the end of the video */
.result_area {
    width: 720px;
    height: 540px;
    margin: auto;
    text-align: left;
    border-style: dashed;
    border-width: 1px;
}

.result_title {
    font-size: 18px;
    font-weight: bold;
}

/* Buttons used throughout the module */
.control_area {
    width: 720px;
    height: 44px;
    margin: auto;
    text-align: left;
    position: absolute;
    bottom: 0;
    
    border-style: dashed;
    border-width: 1px;
}

.control_area input {
    width: 96px;
    margin-right: -7px;
}

/* Window displayed when there is no video to load */
.novid {
    color: #1aa1e0;
}

/* JQuery dialog used for Explanation */
.ui-dialog .ui-dialog-content
{
    position: relative;
    padding: .5em 1em;
    background: none;
    overflow: auto;
    zoom: 1;
    background-color: #f3f3f3;
    border: solid 1px;
}

.ui-dialog .ui-dialog-titlebar
{
    background-color: #1aa1e0;
    border: 1px solid;
    border-bottom: 0px;
}

.ui-widget-content
{

}
